body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    position: relative;
}

article {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

h1, h2 {
    color: #444;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
}

.author {
    font-style: italic;
    color: #777;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

a {
    color: #1a73e8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.content-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

app-vertical-ad {
  margin-right: 20px;
  padding-left: 50px;
}

app-vertical-ad:last-child {
  margin-left: 20px;
  padding-right: 50px;
}

@media screen and (max-width: 1200px) {
  app-vertical-ad:first-child,
  app-vertical-ad:last-child {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 1132px) {
  app-vertical-ad:first-child,
  app-vertical-ad:last-child {
    margin-left: 5px;
    margin-right: 5px;
  }
}

// Hide vertical ads for specific resolutions
@media screen and (min-width: 0px) and (max-width: 1132px) {
  app-vertical-ad {
    display: none;
  }
}

.large-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 1rem;
}

.author-details {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.author-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1rem;
}

.ad-leaderboard {
  text-align: center;
  margin: 20px 0;

  img {
    max-width: 728px;
    height: auto;
  }
}

// Mobile resolution
@media screen and (max-width: 767px) {
  .ad-leaderboard img {
    max-width: 320px;
    height: auto;
  }
}

.ad-large-rectangle {
  text-align: center;
  margin: 20px 0;

  img {
    max-width: 280px;
    height: auto;
  }
}
